<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bestbooks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestBooks">
        <activity
            android:name=".userFavs.UserFavsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".userBooks.UserBooksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".modifyBook.ModifyBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".detailBook.DetailBookActivity" />
        </activity>

        <activity
            android:name=".detailBook.DetailBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal.PrincipalActivity" />
        </activity>

        <activity
            android:name=".search.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal.PrincipalActivity" />
        </activity>

        <activity
            android:name=".register.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>>

        <activity
            android:name=".modifyProfile.ModifyProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".addBook.AddBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal.PrincipalActivity" />
        </activity>

        <activity
            android:name=".profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal.PrincipalActivity" />
        </activity>

        <activity android:name=".principal.PrincipalActivity" />

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>